.navbar{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    z-index:1000;
}

.navbar__container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 35px;

    background:#0B1320;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
}

.navbar__logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-circle{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #19E6C8;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#19E6C8;
    font-weight:700;
}

.navbar__logo h2{
    font-size:22px;
    font-weight:600;
}

.navbar__menu{
    display:flex;
    align-items:center;
    gap:35px;
}

.navbar__menu a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    position:relative;
    transition:.3s;
}

.navbar__menu a:hover,
.navbar__menu .active{
    color:#19E6C8;
}

.navbar__menu .active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:2px;
    background:#19E6C8;
}

.hire-btn{
    background:#19E6C8;
    color:#07111B;
    padding:14px 26px;
    border:none;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.hire-btn:hover{
    transform:translateY(-3px);
}

/* {Responsive css} */
/* Menu */
.menu-icon{
    display:none;
    font-size:34px;
    color:#fff;
    cursor:pointer;
}

/* {CSS for Mobile and tablet} */
@media (max-width:992px){

.navbar__container{

padding:18px 25px;

}

.menu-icon{

display:block;

z-index:1002;

}

.navbar__menu{
position:fixed;
top:95px;
right:-100%;
width:280px;
height:calc(100vh - 95px);
background:#0B1320;
border-left:1px solid rgba(255,255,255,.08);
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
padding-top:40px;
gap:30px;
transition:.4s;
}

.navbar__menu.active{
right:0;
}

.hire-btn{
display:none;
}

}

/* {For mobile} */
@media (max-width:768px){

.navbar{
width:95%;
}

.navbar__logo h2{
display:none;
}

.logo-circle{
width:45px;
height:45px;
}

}